<!DOCTYPE html>
%html
  %head
    %title Auto-Coach
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %H1 Auto-Coach!
    %H2 For guidance and answers
    %div.center_me= button_to "Home", root_path

    .container
      - if flash[:notice]
        .notices
          - flash[:notice].each do |note|
            %p= note
      - if flash[:errors]
        .errors
          - flash[:errors].each do |err|
            %p= err
      = yield
